body {
    font-family: 'Arial', sans-serif; 
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

nav {
    display: flex !important;
    justify-content: space-between; 
    align-items: center;
    background-color: #004b33;
    padding: 0 40px; 
    height: 70px;
    width: 100%;
    box-sizing: border-box;
}


.nav-links {
    display: flex;
    gap: 25px;
}

.nav-logo {
    height: 50px;
    width: auto;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap; 
}
nav a:hover {
    color: #f39200; 
}


.container {
    max-width: 1000px;
    margin: 50px auto;
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
}


h2 {
    color: #004b33;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 3px solid #f39200; 
    display: inline-block;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    background-color: #004b33;
    color: white;
    padding: 15px;
    text-align: left;
    font-weight: normal;
    font-size: 14px;
}

td {
    padding: 15px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
}

tr:hover {
    background-color: #f9f9f9;
}


button {
    background-color: #004b33;
    color: white;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.3s;
}

button:hover {
    background-color: #003625;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column; /* Label iznad inputa za čišći izgled */
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


h1 {
    color: #004b33;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    padding-bottom: 15px;
}


h1::after {
    content: '';
    display: block;
    width: 60px; 
    height: 4px;
    background-color: #f39200; 
    margin: 10px auto 0; 
    border-radius: 2px;
}

.paginacija {
   display: flex !important;   
    justify-content: center !important; 
    align-items: center !important;
    width: 100% !important;
    margin: 30px auto !important; 
    padding: 20px 0;
    clear: both; 
}